/* --------------------------------------------------------  */
/* ZARA - Ultimate Port Solution - Responsive 
/* --------------------------------------------------------  */

/*------------------------------------*\
iPad landscape · width: 1024px
\*------------------------------------*/

@media (max-width:1024px) {

}




@media (max-width:1000px) {
.container {
    width: 100%;
}
}


/*------------------------------------*\
iPad portrait · width: 768px
\*------------------------------------*/

@media (max-width:768px) {}




/*------------------------------------*\
Mobile Screen · width: 767px
\*------------------------------------*/

@media (max-width:767px) {

/*----------Table Grid-----------*/
	.view, .page, .records {display: inline;float: none;margin-right: 5px;}
	.pages-info div:before{ right: -1px;top: 0;}
	.pagination-block {height: auto; line-height: 24px;}
	.pages-info {float: left;padding: 10px 15px;}
/*---------- End Table Grid-----------*/

}




/*------------------------------------*\
iPhone 6 Plump landscape · width: 736px 
\*------------------------------------*/

@media (max-width:736px) {}




/*------------------------------------*\
iPhone 6 landscape · width: 667px 
\*------------------------------------*/

@media (max-width:667px) {
/*----------Table Grid-----------*/
	.pages-info {  width: 321px;}
	.view::before {background-color: transparent;}
/*---------- End Table Grid-----------*/
}




/*------------------------------------*\
iPhone 6 landscape · width: 600px 
\*------------------------------------*/

@media (max-width:600px) {
/*----------Table Grid-----------*/
	.form-action-field .label {
		clear: both;
		display: block;
		float: none;
		text-align: left;
		height: 27px;
	}
	.form-btn-group{ margin-left: 0;}
	}
/*---------- End Table Grid-----------*/




/*------------------------------------*\
iPhone 5 landscape · width: 568px
\*------------------------------------*/

@media (max-width:568px) {
/*----------Table Grid-----------*/
	.form-action-field .no-padding {
		margin-top: 5px;
		width: 100%;
	}
	.app-action-form .no-padding {
		width: 100%;
	}
	.app-action-group{display:none;}
	.mobile-action-grp-btn{display:block;}
	.mobile-action-grp-btn .app-action-group {
		display: block;
	}
	.pagination-block {padding: 0 0 10px 0}
	.grid-action-group{display:none;}
	.pages-info {width: 100%;}
	.view::before {background-color: #5c5c5c;}
/*---------- End Table Grid-----------*/
}



/*------------------------------------*\
iPhone 6 Plump portrait · width: 414px
\*------------------------------------*/

@media (max-width:414px) {

}




/*------------------------------------*\
Android (Nexus 4) portrait · width: 384px
\*------------------------------------*/

@media (max-width:384px) {
/*----------Table Grid-----------*/
	
/*---------- End Table Grid-----------*/
}


/*------------------------------------*\
iPhone 6 portrait · width: 375px
\*------------------------------------*/

@media (max-width:375px) {
	.view::before {background-color: transparent;}
}




/*------------------------------------*\
iPhone 6 portrait · width: 320px
\*------------------------------------*/

@media (max-width:320px) {}