/* --------------------------------------------------------  */
/* ZARA - Ultimate Port Solution - STYLE SHEET 
/* --------------------------------------------------------  */
/*------------------------------------*\
Headings
\*------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}
h1 {
    font-size: 18px;
}
h2 {
    font-size: 15px;
}
h3 {
    font-size: 14px;
}
/*------------------------------------*\
Body fonts
\*------------------------------------*/

p {
    font-size: 14px;
    color: #5c5c5c
}
small {
    font-size: 12px;
    color: #5c5c5c
}
textarea, input[type="text"], input[type="button"], input[type="submit"] {
    border-radius: 0 0 0 0;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: normal;
}
:focus {
    outline: 0 none;
}
a:focus {
    outline: 0 none;
}
:-moz-placeholder {
    color: #120E5B;
    opacity: 1;
}
.no-padding {
    padding: 0;
}
.margin50 {
    margin-top: 50px;
}
.block-content {
    padding: 25px;
}
.element-block {
    background-color: #FFFFFF;
    border: 1px solid #D8D8D8;
    box-shadow: 0 0 11px -1px rgba(0, 0, 0, 0.2);
}
.block-title {
    background-color: #F6F6F6;
    border-bottom: 1px solid #D8D8D8;
    overflow: hidden;
}
.block-title .icon {
    border-right: 1px solid #D8D8D8;
    float: left;
    height: 36px;
    width: 36px;
}
.block-title .icon span {
    display: table-cell;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    width: 36px;
}
.title {
    color: #120E5B;
    display: block;
    float: left;
    font-size: 15px;
    font-weight: bold;
    height: 36px;
    line-height: 36px;
    padding-left: 24px;
    padding-right: 24px;
}
.close-block {
    border-left: 1px solid #D8D8D8;
    float: right;
    height: 36px;
    width: 36px;
}
.close-block a {
    display: table-cell;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    width: 36px;
}
.close-block a:hover {
    background-color: #FFFFFF;
}
.label {
    border-radius: 0 0 0 0;
    color: #5C5C5C;
    float: left;
    font-size: 12px;
    font-weight: normal;
    height: 35px;
    line-height: 33px;
    margin: 0 10px 0 0;
    padding: 0;
    text-align: right;
    width: 80px;
}
.combo-select {
    border: 1px solid #D8D8D8;
    float: left;
    height: 35px;
    line-height: 31px;
    margin-right: 5px;
    padding-left: 10px;
    position: relative;
    width: 100%;
}
.text-box {
    border: 1px solid #D8D8D8;
    font-size: 12px;
    height: 33px;
    min-width: 220px;
    padding: 5px 8px;
    width: auto;
}
.text-box:focus {
    border: 1px solid #2991D6;
    box-shadow: 0 0 4px rgba(41, 145, 214, 0.3);
}
.form-row {
    margin-bottom: 5px;
}
.full-dropdown .combo-select {
    width: 100%;
}
.radio-btn {
    float: left;
    margin-right: 10px;
    margin-top: 6px;
}
.form-btn-group {
    clear: both;
    margin-top: 10px;
    overflow: hidden;
    text-align: center;  margin-left: 90px;
}
.btn-value {
    border-radius: 0 2px 2px 0;
    display: table-cell;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    padding: 0 24px;
    transition: all 0.2s ease 0s;
}
.btn-icon {
    background-color: #0C79C1;
    display: table-cell;
    height: 40px;
    vertical-align: middle;
    width: 40px;
}
.button {
    background: none repeat scroll 0 0 #2991D6;
    border: 1px solid #0C79C1;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    display: inline-block;
}
a.button {
    text-decoration: none;
}
.button .btn-value:hover, a.button:hover {
    background-color: #FFFFFF;
    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.3);
    color: #0C79C1;
}
.button .btn-value:active, a.button:active {
    background-color: #FFFFFF;
    box-shadow: none;
    color: #0C79C1;
}
.button .btn-value:focus, a.button:focus {
    background-color: #FFFFFF;
    box-shadow: none;
    color: #0C79C1;
}
.button-normal {
    background-color: #FFFFFF;
    color: #0C79C1;
}
.button-normal .btn-value:hover {
    background-color: #2991D6 !important;
    border-radius: 0 0 0 0;
    color: #FFFFFF;
}
.button-normal .btn-value:active, .button-normal .btn-value:focus {
    background-color: #2991D6 !important;
    border-radius: 0 0 0 0;
    box-shadow: none;
    color: #FFFFFF;
}
.margin-5 {
    margin-right: 5px;
}
.full-dropdown {
    width: 348px;
}
ul.toggle-switch {
    border: 1px solid #D8D8D8;
    clear: both;
    height: 33px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 70px;
}
ul.toggle-switch li {
    display: inline-block;
    float: left;
    font-size: 12px;
    line-height: 31px;
    padding: 0;
    text-align: center;
    width: 34px;
}
ul.toggle-switch li a {
    color: #000000;
    cursor: default;
    font-family: Helvetica,Arial;
    text-decoration: none;
    text-transform: uppercase;
}
.on.switch {
    background: none repeat scroll 0 0 #2991D6;
}
.switch a {
    color: #FFFFFF !important;
}
.on {
    border-right: medium none;
}
.off.switch {
    background: none repeat scroll 0 0 #5C5C5C;
}
.disabled li {
    background: none repeat scroll 0 0 #F6F6F6;
}
.disabled li:first-child {
    border-right: medium none;
}
.disabled li:last-child {
    border-left: medium none;
}
.disabled li a {
    color: #C5C5C5;
}

/*------------------------------------*\
Application form action ablock
\*------------------------------------*/
.app-action-form {
    padding: 15px;
}
.heading {
    color: #5C5C5C;
    font-weight: bold;
}
.app-action-form .heading {
    float: left;
    width: 90px;  line-height: 35px;
}
.form-action-field {
    border-bottom: 1px solid #D8D8D8;
    border-top: 1px solid #D8D8D8;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.text-box {
    border: 1px solid #D8D8D8;
    font-size: 12px;
    height: 33px;
    padding: 5px 8px;
    width: 100%;
}

/*------------------------------------*\
Panel
\*------------------------------------*/
/*----------Panel Heading-----------*/

.panel-block-head {
    background-color: #F6F6F6;
    border: 1px solid #D8D8D8;
    height: 38px;
}
.panel-block-icon {
    border-right: 1px solid #D8D8D8;
    color: #120e5b;
    float: left;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    width: 37px;
}
.panel-block-heading {
    color: #120E5B;
    display: block;
    float: left;
    font-size: 15px;
    font-weight: bold;
    line-height: 36px;
    padding-left: 16px;
    padding-right: 24px;
    text-transform: uppercase;
}
.app-action-group {
    float: right;
}
.app-action-group a {
    border-left: 1px solid #D8D8D8;
    color: #120E5B;
    display: block;
    float: left;
    line-height: 36px;
    text-align: center;
    width: 37px;
}
.app-action-group a:hover {
    background-color: #120E5B;
    color: #FFFFFF;
}
.app-action-group a.active {
    background-color: #FFFFFF;
}
.panel-block-content {
    background-color: #fff;
    border-bottom: none;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
	border-bottom:1px solid #D8D8D8;
    overflow: hidden;
    padding: 20px;
}
.no-padding {
    padding: 0
}
.pages-info {
    color: #5c5c5c;
    font-size: 12px;
}
.page a {
    border: 1px solid #D8D8D8;
    color: #120e5b;
    display: inline-block;
    font-size: 9px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    width: 20px;
}
.page select {
    border: 1px solid #D8D8D8;
    color: #120e5b;
    display: inline-block;
    font-size: 13px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    width: auto
}
.view,
.page,
.records {
    float: left;
    margin-right: 15px;
}
/*----------Table Pagination-----------*/
.pagination-block {
    height: 45px;
    line-height: 45px;
}
.pages-info {
    position: relative;float: left;width: auto;padding: 0 10px;
}
.page ,.view{
    position: relative;
}
.page:before,.view:before {
    background-color: #5C5C5C;
    content: "";
    display: block;
    height: 13px;
    position: absolute;
    right: -8px;
    top: 17px;
    width: 1px;
}


/*----------Grid Action Group-----------*/
.grid-action-group {
    border: 1px solid #D8D8D8;
    float: right;
    margin: 7px;
}
.grid-action-group  a {
    border-right: 1px solid #D8D8D8;
    float: left;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 28px;
	color: #120E5B;
}
.grid-action-group  a:last-child {
    border-right: medium none;
}
.grid-action-group  a:hover {
    background-color: #120E5B;
    color: #FFFFFF;
}

/*---------- Table -----------*/
.table-grid th:first-child {
    padding: 0 10px;
}
.table-grid th {
    background-color: #2991D6;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    font-size: 13px;
    font-weight: normal;
	height: 45px;
    vertical-align: middle;
    word-break: normal;
	white-space: nowrap;
}
.col-action {
    background-color: #120E5B;
    color: #FFFFFF;
    display: none;
    font-size: 8px;
    height: 10px;
    text-align: center;
}
.col-action:hover {
    color: #2991D6;
}
.table-grid th span {
    display: inherit;
    height: 35px;
    padding: 0 40px 0 10px;
    vertical-align: middle;
}
.table-grid td {
    border: 1px solid #D8D8D8;
    font-size: 12px;
    height: 30px;
	color:#5c5c5c;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}
#table-grid.table-record {
   height: 470px;
   padding: 0;
   width: 100%;
}

/*---------- Dropdown List -----------*/



a:focus, a:hover {
    color: #2991D6;
    text-decoration: none;
}
